<app-home>
</app-home>
<div class="toolbar">
    
  <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6j0hiWSlMnywKP8Ce9SYMco1WJlw3iE3v58wc6UpvAp-qDK4SOBgZI3A_pfIQEnR2qUw&usqp=CAU" width="100" height="50">
</div>
<div class="about-section">
  <p>Awareness on health issues.</p>
  <p>we are working hard for the problems of people facing today.
    many of them dont know whether what type f issues they are facing in day to life.
    our theme is to help people and bring awareness of health issues.we suggest the doctors and hospitals
    reagarding their requirement and our plan is to get their knowledge about what they are facing and 
    to know whether it is small one or not if you get the knowledge so, you people can handle the situation with out any fear
    .Among the research we survied many villages and we got knowledge about their problems so it is the best path to show our knowlwdge to them and  
    make it as easier to them.
  </p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  

  <div class="column">
    <div class="card">
      <img src="assets/images/image1.jpeg"  style="width:100%">
<div class="container">
        <p class="title"></p>
        <!-- <p>we are knowing what are the health conditions of their family members and what they faced till now</p>
        <p>we are explaining symptoms of thyroid and telling them what precautions will be take before and after thyroid</p> -->
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/image2.jpeg" style="width:100%">
      <div class="container">
        <!-- <p class="title">explaining symptoms of heart diseses</p>
  <p>we are explaining symptoms of heart diseses and telling them what precautions will be take before and after   heart diseses </p>  -->
       
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/image3.jpeg"  style="width:100%">
<div class="container">
        <p class="title"></p>
        <!-- <p>explaining symptoms of cold</p>
        <p>we are explaining symptoms of cold and telling them what precautions will be take before and after cold</p> -->
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/image4.jpeg"  style="width:100%">
<div class="container">
        <p class="title"></p>
        <!-- <p>explaining symptoms of diabetes</p>
        <p>we are explaining symptoms of diabetes and telling them what precautions will be take before and after diabetes</p> -->
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/image5.jpeg"  style="width:100%">
<div class="container">
        <p class="title"></p>
        <!-- <p>explaining symptoms of covid19</p>
        <p>we are explaining symptoms of covid19 and telling them what precautions will be take before and aftercovid19</p> -->
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/images/qr.png"  style="width:100%">
<div class="container">
        <p class="title"></p>
        <!-- <p>Video QR Code</p>
        <p>In this QR code we integrated the details of the research we done the in the villages </p> -->
      </div>
    </div>
  </div>

  

  

 
  <div class="about-section">
    <div class="row">
      <div class="column">
        <img src="https://th.bing.com/th/id/OIP.Six4fMkcopPs_1V6ehF3UwHaLH?w=115&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Snow" width="200" height="200">

      </div>
      <div class="column">
        <img src="https://th.bing.com/th/id/OIP.ejJ2qUArsjLC7M0BGOP4AAAAAA?w=242&h=96&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Forest" width="400" height="200">
      </div>
      <div class="column">
      <img src="https://th.bing.com/th/id/OIP.iwcjw15j7AjZ5MiGyI2fXgHaJ3?w=115&h=181&c=7&r=0&o=5&dpr=1.5&pid=1.7" width="200" height="200">
      </div>
      <div class="column">
        <img src="https://i0.wp.com/www.nrtec.in/wp-content/uploads/2019/03/chakravarthi-vice-chairman.jpg?resize=289%2C200&ssl=1" alt="Snow" width="200" height="200">
      </div>
      <div class="column">
        <img src="https://th.bing.com/th/id/OIP.D-_HFqV4vG5IYX_ZTmrHXQHaDt?w=346&h=174&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Forest" width="400" height="200">
      </div>
      <div class="column">
      <img src="https://i0.wp.com/www.nrtec.in/wp-content/uploads/2016/11/cs-thirumal-rao-hod.png?resize=350%2C350&ssl=1" width="200" height="200">
      </div>
    </div>
  <p class="title"></p>
  <p>Our project is about "AWARENESS OF  HEALTH ISSUES".We are able to provide the information about various symptoms of health problems.Being aware of the symptoms of various health issues is crucial for maintaining overall well-being and seeking timely medical attention. Understanding the signs that our bodies exhibit when something is amiss allows us to take proactive steps towards prevention, early detection, and appropriate treatment.Common Health Issues: Familiarize yourself with common health issues that affect people, such as cardiovascular diseases, respiratory conditions, diabetes, mental health disorders.Common Health Issues: Familiarize yourself with common health issues that affect people, such as cardiovascular diseases, respiratory conditions, diabetes, mental health disorders.Thank you HOD sir and Rafi sir for giving a wonderful opportunity to us And also we thank your institution to help us and make us to complete the project
   </p>
   <h5>Narasaraopeta Engineering College</h5>
   <h6>Cse Department</h6>
</div>
</div>