<html>
<div class="bod">
  <div class="container">
    <!-- background-image: var(--bs-gradient)> -->
  
      <div class="card-body">
      <h1 style="font-family: garamond,serif;">NARASARAOPETA ENGINEERING COLLEGE</h1>
      <h2 style="font-family: garamond,serif;">CSE Department</h2>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <img src="https://files.indcareer.com/files/NARASARAOPETA%20ENGINEERING%20COLLLEGE.jpg" width="190" height="190">
      &nbsp;&nbsp;&nbsp;
          <h2 style="font-family: garamond,serif;">A CSP Project</h2>
          <h3 style="font-family: garamond,serif;"> Awareness of Health Issues</h3>
          <a  style="font-family: garamond,serif;" routerLink="/login" routerLinkActive="active" class="btn btn-primary">login</a>
<br>
<br>
<br>
          
        </div>
        
  </div>

  <router-outlet></router-outlet>
  
  <br>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  </html>
  
  
  