<app-home></app-home>
&nbsp;
<div class="container">
  <div class="card-body" style="text-align: center;"><h2 >Symptoms of Covid-19</h2></div>
  <ul class="item">
    <li class="btn2"><button class="btn btn-primary" type="submit" (click)="prev()"> Previous</button></li>
<li class="btn1">
    <button class="btn btn-primary" type="submit" (click)="next()">Next</button></li>
  </ul>
    


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.gannett-cdn.com/presto/2021/01/27/USAT/7a59c7f7-045e-4199-b948-2f0d56b2e5ff-VPC_COVID_VARIANTS_DESK_THUMB.jpg?crop=1911,1075,x0,y0&width=1911&height=1075&format=pjpg&auto=webp" class="img-thumbnail" alt="Card image cap" class="d-block w-100"  width="600" height="450"alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://fultoncountyga.gov/-/media/COVID-19/COVID-Images/COVID-symptoms-update-584x328_v1-01.ashx?h=684&w=1217&la=en&hash=424BE02AC026A44147DEC61CEE081C05" class="img-thumbnail" alt="Card image cap" class="d-block w-100" width="600" height="450" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://static01.nyt.com/images/2020/08/04/us/covid-19-symptoms-promo-1596578167742/covid-19-symptoms-promo-1596578167742-videoSixteenByNineJumbo1600.jpg" class="img-thumbnail" alt="Card image cap" class="d-block w-100" width="600" height="450" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://th.bing.com/th/id/OIP.kddBiLyYrpnQq6sV1Y5erQHaEK?w=288&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" class="img-thumbnail" alt="Card image cap" class="d-block w-100" width="600" height="450" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="card">
  <div class="card-body">
    <p style="color:red"> 
     <marquee> **If you are feeling un well and find some of the symptoms displayed so,please consult doctor with out any fail**</marquee>
    </p>
  </div>
</div> 

<div class="card">
  <div class="card-body">
    <p>The symptoms that you are facing in day to day life may lead to covid-19
      so check your health that your effected positive or negative by matching
      symptoms you are facing with symptoms of covid-19 and save your life 
      from risk </p>

    <p>Possible Symptoms are</p>
    <div class="container">
      <div class="row">
    <div class="col-sm">
      <ul class="items">
      <li>Diarreah</li>
      <li>Shortness od breathing</li>
      <li>Nausea</li>
      <li>Vomitings</li>
      <li>Chills</li>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
      <li>Headache</li>
      <li>Sore throat</li>
      <li>Congestion or runny nose</li>
      <li>Muscles or body aches</li>
      
      </ul>
    </div>
  </div>
  <h5>Serious symptoms:</h5>

    <p> difficulty breathing or shortness of breath</p>
    <p>loss of speech or mobility, or confusion
    chest pain.</p>
</div>
</div>
</div>
<div class="container2">
    <div class="card-group vgr-cards">
      <div class="card">
        <div class="card-img-body">
          <div class="overlay">
            <div class="text">Tiredness</div>
        </div>
        <img class="card-img" src="https://images.pexels.com/photos/3767411/pexels-photo-3767411.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-thumbnail"  alt="Card image cap">
        
      </div>
        
          
        <div class="card-body">
          <h4 class="card-title">Tiredness</h4>
          <p class="card-text" style="text-align: justify;">Tiredness is a feeling of weariness or lack of energy. It can be caused by several factors such as lack of sleep, stress, anxiety, depression, and physical activity.
            Fatigue is a feeling of constant tiredness or weakness and can be physical, mental or a combination of both. It can affect anyone, and most adults will experience fatigue at some point in their life.

    Each year, around 1.5 million Australians see their doctor about fatigue. Fatigue is a symptom, not a condition. For many people, fatigue is caused by a combination of lifestyle, social, psychological and general wellbeing issues rather than an underlying medical condition.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-img-body">
          <div class="overlay">
            <div class="text">Fever</div>
        </div>
          
            <img class="card-img" src="https://images.pexels.com/photos/3985216/pexels-photo-3985216.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-thumbnail" alt="Card image cap"></div>
            
            <div class="card-body">
          <h4 class="card-title">Fever</h4>
          <p class="card-text" style="text-align: justify;">A fever is a body temperature that is higher than normal. A normal temperature can vary from person to person, 
            but it is usually around 98.6 °F (37 °C). 
            A fever is not a disease. It is usually a sign that your body is trying to fight an illness or infection.
            0-3 months	100.4 F (38 C) or higher taken rectally	Call the doctor, even if your child doesn't have any other signs or symptoms.
            3-6 months	Above 102 F (38.9 C) taken rectally	Call the doctor; he or she may recommend that you bring your child in for an exam.
            Oral and rectal thermometers generally provide the most accurate measurement of core body temperature. Ear or forehead thermometers, although convenient, provide less accurate temperature measurements.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-img-body">
          <div class="overlay">
            <div class="text">Cough</div>
        </div>
          
          <img class="card-img" src="https://images.pexels.com/photos/4000624/pexels-photo-4000624.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-thumbnail" alt="Card image cap"></div>
          
          <div class="card-body">
          <h4 class="card-title">Cough</h4>
          <p class="card-text" style="text-align: justify;">A cough is a reflex action to clear your airways of mucus and irritants such as dust or smoke. It's rarely a sign of anything serious. Most coughs clear up within 3 weeks and don't require any treatment.
            An occasional cough is a normal healthy function of your body. Your throat and airways are equipped with nerves that sense irritants and seek to dispel them. This response is almost instantaneous and very effective.
            Over-the-counter cough and cold medicines are intended to treat the symptoms of coughs and colds, not the underlying disease.
            Prolonged, vigorous coughing can irritate the lungs and cause even more coughing.</p>
        
        </div>
      </div>
      <div class="card">
        <div class="card-img-body">
          <div class="overlay">
            <div class="text">Fever</div>
        </div>
          
            <img class="card-img" src="https://images.pexels.com/photos/3985216/pexels-photo-3985216.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-thumbnail" alt="Card image cap"></div>
            
            <div class="card-body">
          <h4 class="card-title">Fever</h4>
          <p class="card-text" style="text-align: justify;">A fever is a body temperature that is higher than normal. A normal temperature can vary from person to person, 
            but it is usually around 98.6 °F (37 °C). 
            A fever is not a disease. It is usually a sign that your body is trying to fight an illness or infection.
            0-3 months	100.4 F (38 C) or higher taken rectally	Call the doctor, even if your child doesn't have any other signs or symptoms.
            3-6 months	Above 102 F (38.9 C) taken rectally	Call the doctor; he or she may recommend that you bring your child in for an exam.
            Oral and rectal thermometers generally provide the most accurate measurement of core body temperature. Ear or forehead thermometers, although convenient, provide less accurate temperature measurements.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-img-body">
          <div class="overlay">
            <div class="text">Fever</div>
        </div>
          
            <img class="card-img" src="https://images.pexels.com/photos/3985216/pexels-photo-3985216.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-thumbnail" alt="Card image cap"></div>
            
            <div class="card-body">
          <h4 class="card-title">Fever</h4>
          <p class="card-text" style="text-align: justify;">A fever is a body temperature that is higher than normal. A normal temperature can vary from person to person, 
            but it is usually around 98.6 °F (37 °C). 
            A fever is not a disease. It is usually a sign that your body is trying to fight an illness or infection.
            0-3 months	100.4 F (38 C) or higher taken rectally	Call the doctor, even if your child doesn't have any other signs or symptoms.
            3-6 months	Above 102 F (38.9 C) taken rectally	Call the doctor; he or she may recommend that you bring your child in for an exam.
            Oral and rectal thermometers generally provide the most accurate measurement of core body temperature. Ear or forehead thermometers, although convenient, provide less accurate temperature measurements.</p>
        </div>
      </div>
      
    </div>
    
    
    
    
  </div>
  
  

</div>