.table{
    text-align: center;
    letter-spacing: 0.04em;
    border: 1px solid black;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.pi{
    text-align: center;
     color: rgb(9, 14, 11); 
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
th{
    text-align: center;
}
.clg{
    margin-left: 280px;
    margin-top: 10px;
    height:150px;
    width: 900px;
}

p{
    font-size: 35px;
    margin-left: 210px;
    letter-spacing: 0.04em;
    word-spacing: 0.2em;
}
.one{
    margin-top: 20px;
}
.two{
    margin-left: 250px;
    margin-top: 15px;
}
.three{
    margin-left: 350px;
    letter-spacing: 0.02em;
    font-size: 25px;
}

.logo{
    margin-left:550px;
}
.btn1{
    display: grid;
    margin-left: 640px;
    font-size: 25px;
    word-spacing: 0.3em;
    margin-top: 20px;
    /* background-color: rgb(70, 75, 64); */
    color:white;
    border-radius: 0.5em;
    padding:4px 8px;
}

.btn1:hover{
    background-color: rgb(246, 93, 124);
}
.btn3{
    background-color: rgb(63, 196, 63);
}
.btn2,.btn3,.btn4{
    letter-spacing: 0.03em;
}

.table{
    text-align: center;
    letter-spacing: 0.04em;
}
/* .card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;} */
.pi{
    text-align: center;
    /* color: rgb(9, 14, 11); */
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
th{
    text-align: center;
}