.container{
  text-align: center;
  margin-top: 80px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow:10px 10px 5px grey;
  width:32%;
  object-position:center;
  background-image: url("https://www.venops.com/wp-content/uploads/bb-plugin/cache/open_payments_ftd-square.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
input{

  font-size:15px;
	height:40px;
	width:80%;
	border: 1.5px solid black;
	border-radius:8px;
	outline:invert;
	padding:0 10px;

}
.form-title{
	font-size:26px;
	font-family: cursive;
	text-align:center;
	padding-bottom:6px;
	color:aliceblue;
  margin-bottom: 30px;
}
.message{
  color:aliceblue
}
.btn{
  width:25;
}
a{
  color:rgb(2, 38, 48)
}
input:invalid{
  border-color: rgb(236, 42, 84);
}
/* .container{
  background-image: linear-gradient(pink, white,rgb(2, 1, 2));
  background-size: cover;
  background-attachment: fixed;
  width:auto;
  height: auto;
} */
