<app-home></app-home>
<div class="container">
        <div class="card-title" style="text-align:center;">
            <h2 style="font-family: garamond,serif;">Awareness on Health issues</h2>
            <!-- <h3 style="font-family: garamond,serif;"> Team Members</h3> -->
            <h4 style="font-family: garamond,serif;">Contact Us</h4>
        </div>
        <!-- <marquee style="color:red">**Please contact us for any queries for below mails**</marquee> -->

        <div class="card-body">
            <div class="row">
            <div class="col-sm">
                <ul class="items">
                <li style="margin-bottom: 10px;">V.Teja sri</li>
                <li style="margin-bottom: 10px;">P.Murali priya</li>
                <li style="margin-bottom: 10px;">G.Chaintanya</li>
                <li style="margin-bottom: 10px;">K.Bhavana</li>
                <li style="margin-bottom: 10px;">S.Neelima</li>
                <li style="margin-bottom: 10px;">S.Madhavi</li>
                <li style="margin-bottom: 10px;">M.Thirumala Devi</li>
                <li style="margin-bottom: 10px;">K.Eswar kalyani</li>
                <li style="margin-bottom: 10px;">S.Kavya</li>
                </ul>
              </div>
              <div class="col-sm">
                <ul>
                <li style="margin-bottom: 10px;">21471A05D3</li>
                <li style="margin-bottom: 10px;">21471A05B1</li>
                <li style="margin-bottom: 10px;">21471A0588</li>
                <li style="margin-bottom: 10px;">21471A0576</li>
                <li style="margin-bottom: 10px;">21471A05B8</li>
                <li style="margin-bottom: 10px;">21471A05D0</li>
                <li style="margin-bottom: 10px;">21471A05A7</li>
                <li style="margin-bottom: 10px;">21471A0594</li>
                <li style="margin-bottom: 10px;">21471A05C9</li>
                </ul>
        </div>
        <div class="col-sm">
            <ul>
            <li style="margin-bottom: 10px;">vtejasri.1016@gmail.com</li>
            <li style="margin-bottom: 10px;">muralipriyapasupuleti178@gmail.com</li>
            <li style="margin-bottom: 10px;">chaitanyagude434@gmail.com</li>
            <li style="margin-bottom: 10px;">bhavanakolipaka2004@gmail.com</li>
            <li style="margin-bottom: 10px;">sevaneelima13@gmail.com</li>
            <li style="margin-bottom: 10px;">sunkireddymadhavi321@gmail.com</li>
            <li style="margin-bottom: 10px;">devi123@gmail.com</li>
            <li style="margin-bottom: 10px;">eswarkalyani048@gmail.com</li>
            <li style="margin-bottom: 10px;">kavyasunkari510@gmail.com</li>
            </ul>
        </div>
            <div class="col-sm">
                <ul>
                <li style="margin-bottom: 10px;">CSE-B</li>
                <li style="margin-bottom: 10px;">CSE-B</li>
                <li style="margin-bottom: 10px;">CSE-B</li>
                <li style="margin-bottom: 10px;">CSE-B</li>
                <li style="margin-bottom: 10px;">CSE-B</li>
                <li style="margin-bottom: 10px;">CSE-B</li>
                <li style="margin-bottom: 10px;">CSE-B</li>
                <li style="margin-bottom: 10px;">CSE-B</li>
                <li style="margin-bottom: 10px;">CSE-B</li>
                </ul>
        </div>
    </div>
    
    <div class="card-body1" style="text-align: center;">
        <h5>Narasaraopeta Engineering college</h5>
        <h6>Cse Department</h6>
        <h6 style="color:red"> @Copy right at 2021</h6>
    </div>
        </div>
