.img_deg
{
  float:right;
  width:40%;
}
.pos_cen
{
  width:80%;
  left:10%;
  margin-bottom: 20px;
  font-size:18px;
  justify-content: center;
  position: relative; 
}
h1{
    font-family: garamond serif;
}