<app-home></app-home>
<div class="pos_cen">
    <h1 style="text-align: center;">Chickenpox</h1>
    <br>
    <img class="img_deg" src="https://kidshealth.org/content/dam/patientinstructions/en/images/chickenPoxInfectedArea_a_enIL.jpg" >
  <p> Varicella (chickenpox) is an acute, highly contagious disease caused by varicella-zoster virus (VZV), a member of the herpesvirus family. Only one serotype of VZV is known, and humans are the only reservoir..</p>
  <h3>Causes</h3>
  <ul><li>Chickenpox also known as varicella is a common infectious disease caused by the varicella-zoster virus. “Chickenpox is usually acquired through inhalation of airborne respiratory droplets from an infected host. High viral concentration is found in the characteristic vesicles of chickenpox,” 
     and sometimes problems with organs and blood vessels</li>
  </ul>
    <h3>Symptoms</h3>
    <p> The symptoms of chickenpox typically appear 10-21 days (incubation period) after exposure to the virus. Dr Aggarwal explains that a few days later, the characteristic rash appears. The rash typically starts on the face and trunk and spreads to the arms and legs. The rash appears as small, red, itchy bumps that quickly turn into fluid-filled blisters. After a few days, the blisters scab over and eventually fall off.</p>
    <img class="img_deg" src="https://www.medicoverhospitals.in/images/diseases/symptoms-of-chicken-pox.webp">
    <h3>Chickenpox complications</h3>
    <p>The doctor says chickenpox complications may occasionally include pneumonia, inflammation of the brain, and bacterial skin infections. The disease is usually more severe in adults than in children.</p>
    <h2>Treatment for chickenpox</h2>
        <ul><li>There is no specific treatment for chickenpox, but there are several things you can do to alleviate the symptoms. You can take over-the-counter pain relievers. You can also use calamine lotion or oatmeal baths to soothe the itching.</li>
         </ul>
         <h3>Home Remedies for Chickenpox
        </h3>
        
        <ul><li><h4>Cool Baths </h4><p>Taking a bath in cool water with added elements — such as baking soda, rolled or ground oats, or a commercial oatmeal bath product — can help ease the itching brought on by chickenpox.
        </p></li></ul>
        <img class="img_deg" src="https://pbs.twimg.com/media/Dphg8AQXUAAh2yU.jpg">
        <ul><li><h4>Stay at home</h4><p>Because chickenpox is so contagious, both adults and children with the disease should stay home from work or school until all blisters have broken and developed a crust.

        </p></li></ul>
        <ul><li><h4>Bathe regularly with soap and water</h4><p>Keeping your skin clean reduces your risk of developing a secondary infection.

            Be sure to pat, not rub, your skin dry after bathing to avoid irritation.</p></li></ul>
            <ul><li><h4>Wash your hands frequently</h4><p>Keeping your hands clean reduces the risk that you’ll cause a secondary infection by touching or scratching your skin.

            </p></li></ul>
        <ul><li><h4>Get some rest</h4><p>Especially if you have a fever or feel fatigued, take it easy while you have chickenpox. This can reduce stress on your body and help encourage healing. 

        </p></li></ul>
    </div>