<app-home></app-home>
<div class="container">
    <div class="card">
        &nbsp;&nbsp;&nbsp;
        <div class="card-title"><h2 style="text-align: center;">Covid-19 Precautions</h2></div>
        <ul class="item">
            <li class="btn2"><button class="btn btn-primary" type="submit" (click)="prev()"> Previous</button></li>
        <li class="btn1">
            <button class="btn btn-primary" type="submit" (click)="next()">Next</button></li>
          </ul>
        &nbsp;
        &nbsp;
        &nbsp;
        <div class="card-body">
            <h5>Precautions to be taken</h5>

            <ul style="text-align: justify;">
                <li>As much as possible, keep away from other people and pets in your home.</li>
<li>Wear a mask if they must be around other people. Masks shouldn't be worn by kids younger than 2 years old or anyone who can't take off a mask without help. </li>
<li>Cover coughs and sneezes with a tissue, throw the tissue away, and then wash their hands right away. Wash with soap and water for at least 20 seconds, or use alcohol-based hand sanitizer.</li>
<li>If possible, stay in a bedroom and use a bathroom separate from other people in the home.</li>
<li>Use separate dishes, glasses, cups, and eating utensils and not share these with other household members. After use, run them through the dishwasher or wash with very hot soapy water.</li>
<li>Use separate bedding and towels and not share these with other household members.</li>
        </ul>
        &nbsp;&nbsp;
        
   <div class="img">
        <img src="https://cdn5.vectorstock.com/i/1000x1000/64/49/covid19-coronavirus-prevention-and-precaution-vector-30346449.jpg" width="400" height="300">
        <img src="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/5BTQM3GFIAI6VMBX7FYR7CPOIY.jpg&w=1440" width="400" height="300">
    </div>
    &nbsp;&nbsp;
        <h5>Also</h5>
        <ul style="text-align: justify;">
<li>If the person who is sick can't wear a mask, caregivers should wear one while they're in the same room.</li>
<li>Make sure shared spaces in the home have good air flow. You can open a window or turn on an air filter or air conditioner.</li>
<li>Do not allow visitors into your home. This includes children and adults.</li>
<li>All household members should wash their hands well and often. Wash with soap and water for at least 20 seconds, or use alcohol-based hand sanitizer.</li>
<li>Wash the sick person's clothing, bedding, and towels with detergent on the hottest temperature possible. These can be washed together with the rest of the household laundry. Wear gloves when handling their laundry, if possible. Wash your hands well after handling the laundry (even if you wore gloves).</li>
<li>Every day, use a household cleaner or wipe to clean things that get touched a lot. These include doorknobs, light switches, toys, remote controls, sink handles, counters, and phones. Keep a sick child's toys separate from other toys, if possible.</li>
<li>To protect others in your community, the person who is sick should stay home unless they need medical care. This is called isolation.</li></ul>
        </div>
    </div>
</div>